.body
  = render 'shared/side_bar'
  .field
    .field__top
      .field__top__room
        .field__top__room--title room-name
        .field__top__room--member Menber: roommate...........
      .field__top__edit Edit
    .field__text
      = render @messages
    .form
      = form_for [@group,@message],id: "new_message" do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text',placeholder: 'type a message'
          %label.input-box__image(for = "message_image")
            %i.fa.fa-image
            %input.input-box__image__file{:name => "message[image]", :type => "file", :id => "message_image"}
        %input.submit-btn(type = "submit" value="Send")
