*{
  box-sizing: border-box;
}

$white: #fff;
$back-gray: #434a54;
$writefont: #999;

.side-bar{
  color: $white;
  float: left;
  width: 300px;
  &__wrapper{
    background-color: #253141;
    height: 100px;
    align-items: center;
    padding: 0 20px;
  }
}

.header{
  line-height: 100px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
  &__name{
    display: flex;
    margin: 0;
    padding: 0;
  }
  &__lists{
    color :white;
    display: flex;
    margin: 0;
    padding: 0;
    cursor: pointer;
    list-style: none;
  }
}

a{
  color: white;
}

.list{
  display: list-item;
  text-align: -webkit-match-parent;
  margin-left:0.3rem;
}

.groups{
  background-color: #2f3e51;
  color: $white;
  height: calc(100vh - 100px);
  overflow: scroll;
  padding-left: 20px;
  padding-right: 20px;
}

.field{
  float: left;
  width: calc(100vw - 300px);
  &__top{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    border-bottom: solid 1px #eee;
    height: 100px;
    overflow: scroll;
      &__room{
        padding-top: 35px;
        &--title{
          margin-bottom: 15px;
          color: #333;
          font-weight: normal;
          font-size: 20px;
        }
        &--member{
          font-size: 12px;
          color: $writefont;
          display: flex;
        }
      }
      &__edit{
        position: absolute;
        color: #38aef0;
        height: 40px;
        line-height: 40px;
        margin-top: 30px;
        padding: 0 20px;
        border: solid #38aef0 0.1px;
        cursor: pointer;
        right: 40px;
        text-decoration:none;
      }
  }
  &__text{
    color: #333;
    height: calc(100vh - 190px);
    overflow: scroll;
    padding: 46px 40px;
  }
}

.group__name{
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
}

.group__message{
  font-size: 11px;
  padding-bottom: 20px;
  font-weight: bold;
}

.message{
  padding-bottom: 40px;
  color: #434a56;
}

.upper-message{
  display: flex;
  margin-bottom: 10px;
  &__user-name{
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
  }
  &__date{
    font-size: 12px;
    color: $writefont;
  }
}

.lower-message{
  font-size: 14px;
  margin-bottom: 10px;
}

.form{
  height:90px;
  background-color:#ddd;
  padding: 20px 40px;
}

.form form{
  display:flex
}

.input-box{
  position: relative;
  width: 100%;
}

.input-box__text{
  height: 50px;
  width: 100%;
  padding: 0 40px 0 10px;
  color: #434a54;
  border-style: none;
}

.fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.input-box__image{
  font-size: 1.3rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.input-box__image__file{
  display:none;
}

.submit-btn{
  width: 100px;
  height: 50px;
  padding: 0 30px;
  margin-left: 15px;
  background-color: #38aef0;
  color: white;
  cursor: pointer;
}
